/* .background {
  transition: .5s;
} */

/* .backgroundActive {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0 ,0.4);
  transition: ease-in;
} */

.cartContent {   
  position: fixed;
  background-color: #fff;
  right: -600px;
  width: 26vw;
  height: 100vh;
  /* z-index: 10000; */
  transition: ease;
  overflow-y: scroll;
}


.cartContentActive {
  right: 0;
  transition: .6s;
  z-index: 10000;
} 

.cartContent .cartClose {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(36,42,53);
  height: 15vh;
  padding: 0 1.5rem;
  cursor: pointer;

}


.cartContent h3 {
  display: flex;
  align-items: center;
  color: #FFF;
  font-weight: 100;
  font-size: 1.6rem;
  font-style: italic;
  margin-left: 4.5rem;
  
}

.cartItem {
  width: 80%;
  margin: 1.8rem auto;
}

hr {
  margin-top: .8rem;
  
}

.cardDetails {
  margin: 0 auto ;
  padding-bottom: 2rem;
  width: 80%;
}

.total {
  font-size: 1.7rem;
}

.emptyButton {
  display: block;
  margin: 1rem auto 0 auto;
}

.emptyButton {
  width: 70%;
  margin: .4rem auto;
  padding: .5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: .4s;
  color: #fff;
  background-color: #242A35;
}

.emptyButton:hover {
 background-color: #656971;
}




