@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
.containerShop {
    display: flex;
    grid-gap: 25px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .containerShop {
        grid-gap: 10px;
    }
}
@media screen and (max-width: 500px) {
    .containerShop {
        flex-direction: column;
        align-items: center;
    }
}
.shop {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.filter {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.filter h4 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.1rem;
    margin-bottom: 1.1rem;
}

.filter h5 {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 1.1rem 0;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

input[type='radio'] {
    display: none;
}

.filter label {
    cursor: pointer;
    transition: 0.4s;
}

.filter label:hover {
    font-weight: bold;
}

.filter label:active {
    font-weight: bold;
}

.filter ul {
    font-family: 'Darker Grotesque', sans-serif;
    margin-bottom: 1.1rem;
    font-style: italic;
}

.cancel h5 {
    font-weight: bold;
    cursor: pointer;
}

.cardTea {
    display: flex;
    justify-content: space-between;
    margin: 1.4rem;
}

@media screen and (max-width: 650px) {
    .cardTea {
        width: 50%;
    }
}

.input-range__track {
    background-color: red !important;
}
.input-range__track--active {
    background-color: red !important;
}
