@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
.containerShop {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1rem;

}

.shop {
  display: flex;
  margin-left: 2rem;
  /* margin: 0 auto; */
}

.filter {
  width: 15%;
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
}

.filter h4 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: normal;
  letter-spacing: .1rem;
  margin-bottom: 1.1rem;
}

.filter h5 {
  font-family: 'Darker Grotesque', sans-serif;
  margin: 1.1rem 0;
  font-weight: normal;
  font-style: italic;
  letter-spacing: .1rem;
  font-size: 1.1rem;
  font-weight: 500;
}

input[type="radio"] {
  display: none;
}

.filter label {
  cursor: pointer;
  transition: .4s;
}

.filter label:hover {
  font-weight: bold;
}

.filter label:active {
  font-weight: bold;
}

.filter ul {
  font-family: 'Darker Grotesque', sans-serif;
  margin-bottom: 1.1rem;
  font-style: italic;
}

.cancel h5{
  font-weight: bold;
  cursor: pointer;
}

.cardTea {
  display: flex;
  text-align: center;
  margin: 1.4rem;
}





@media screen and (max-width: 650px) {
  .cardTea {
    width: 50%;
  }
}

