@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');


.input-range {
  padding: 10px;
  width: 50%;
  /* background-color: purple; */
}

.input-range__track  {
  width: 150px !important;
  height: .3rem;
  background-color: red;
}

.news {
  font-family: 'Darker Grotesque', sans-serif;
  width: 30vw;
  margin: 4rem auto;
  text-align: center;
  letter-spacing: .07rem;
}

.news h2 {
  font-style: italic;
  font-size: 2.3rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.news p {
  padding: 2rem 0;
  font-size: 1.1rem;
}

.cardTea {
  display: inline-block;
  text-align: center;
  margin: 1.5rem auto;
  width: 33%;
}

@media screen and (max-width: 900px){
  .news {
    margin: 3rem auto;
  }
  .news h2 {
    font-size: 1.9rem
  }
  .news p {
    font-size: .8rem;
    padding: 1.3rem 0;
  }
}



@media screen and (max-width: 680px){
  .news {
    margin: 2rem auto;
  }
  .news h2 {
    font-size: 1.5rem
  }
  .news p {
    font-size: .75rem;
    padding: 1rem 0;
  }
}


@media screen and (max-width: 650px) {
  .cardTea {
    width: 50%;
  }
}

@media screen and (max-width: 415px){
  .news h2 {
    font-size: 1.1rem
  }
  .news p {
    font-size: .7rem;
    padding: .8rem 0;
  }
}

