@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.background {
  width: 100vw;
  height: 62vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(90%);
  overflow: hidden;
}

.background h3 {
  font-family: 'Parisienne', cursive, sans-serif;
  font-weight: normal;
  font-size: 2.7rem;
  letter-spacing: 1px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  text-align:center;
  transform: translateX(-50%);
  color: #fff; 
}


@media screen and (max-width: 1024px) {
 
  .background h3 {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 750px){
  .background {
    height: 40vh;
  }
  .background h3 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 520px) {
  .background {
    height: 30vh;
  }
  .background h3 {
    font-size: 1.2rem;
  }
}

