.navbar {
  display: flex;
  width: 100vw;
  background-position: top;
  position: fixed;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #fff;
  letter-spacing: .6px;
  z-index: 2;
}

.navigation {
  flex: 1;  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .25rem .2rem 0 1rem;
}

.navigation  > li > a { 
  display: inline-block;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.navigation  > li > a:hover{ 
  color: #C89446;
  transition: .4s;
}

.index {
  text-transform: uppercase;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 2rem  1.4rem;
  font-size: 1.2rem;
}

.link {
  flex: 1;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: flex-end;
  margin: 0 1rem 0 0;
  padding-bottom: 0.4rem;
  font-size: 0.9rem;
}

.login {
  display: flex;
  align-items: center;
  margin: 0 1.1rem;
} 

.login > a {
  margin: .3rem .3rem 0 0;
}

.login i {
    margin-top: .15rem;

}

i:nth-child(2){
    margin-top: 0.1rem;
}

.social {
  display: flex;
  align-items: center;
}


i {
  font-size: 1.2rem;
  padding: 0 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .navigation  > li > a {
    font-size: 0.75rem;
    letter-spacing: normal;
  }
  .index {
    font-size: .9rem;
    padding: 1.8rem  1.1rem;
  }
  .link {
    font-size: 0.75rem;
    justify-content: center;
  }
  i {
    padding: 0.2rem .9rem 0 0;
    font-size: 1rem;
  }
 
}

@media screen and (max-width: 750px) {
  .navigation {
    margin-right: .4rem;
  }
  .index {
    font-size: .7rem;
    padding: 1.4rem 0;
    width: 12%;
    text-align: center;
  }
  .link {
    font-size: 0.7rem;
  }
  i {
    font-size: .8rem;
  }
}

@media screen and (max-width: 550px){

}