*{
  color: #fff;
}

.navbar {
  display: flex;
  width: 100vw;
  position: fixed;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #fff;
  letter-spacing: .6px;
  z-index: 2;
}

.navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1rem;
}

.navigation  > li > a { 
  display: inline-block;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.navigation  > li > a:hover{ 
  color: #C89446;
  transition: .4s;
}

.navbar > .index {
  width: auto;
  text-transform: uppercase;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 2rem  1.4rem;
  font-size: 1.2rem;
}

.navbar > .link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  margin-right: 1.2rem;
  font-size: 0.9rem;
}

.login {
  display: flex;
  align-items: center;
  margin: 0 1.1rem;
} 

.login > a {
  margin: 0 .6rem;
}

.social {
  display: flex;
  align-items: center;
}


i {
  font-size: 1.2rem;
  padding: 0 1rem;
  cursor: pointer;
}

i:nth-child(4) {
  font-size: 1.7rem;
}

@media screen and (max-width: 1024px) {
  .navigation  > li > a {
    font-size: 0.75rem;
    letter-spacing: normal;
  }
  .navbar > .index {
    font-size: .8rem;
    padding: 1.8rem  1.1rem;
  }
  .navbar > .link {
    font-size: 0.8rem;
  }
  i {
    padding: 0 .5rem;
    font-size: 1rem;
  }
  i:nth-child(4) {
    font-size: 1.4rem;
  }

  .log {
    display: none;
  }
}