@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

.navbar {
    font-family: 'Darker Grotesque', sans-serif;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #fff;
    letter-spacing: 0.6px;
    z-index: 1;
}

.navbar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1.4rem;
    width: 40%;
}
@media screen and (max-width: 600px) {
  .navbar .content {
    padding: .8rem .6rem !important;

  }
}

.navbar .content a {
    letter-spacing: 0.05rem;
    color: #fff;
    font-size: 1.4rem;
}

.navbar .content .active {
    color: #c89446;
}

.navbar svg {
    color: #fff;
    transition: 0.3s ease-out;
    cursor: pointer;
    margin-right: 1.2rem;
    font-size: 1.7rem;
}

.navbar svg:hover {
    color: #c89446;
}

.content a:hover,
.content a:hover,
.content a:hover {
    color: #c89446;
    transition: 0.3s ease-out;
}

@media screen and (max-width: 1020px) {
    .navbar .content {
        width: 70%;
    }
}

@media screen and (max-width: 750px) {
    .navbar .content {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
}
.navbar .content a {
  font-size: 1.2rem;
}

@media screen and (max-width: 400px) {
  .navbar .content a {
    font-size: 1.1rem;
  }
  .navbar svg {
    font-size: 1.5rem;
  
  }
}
@media screen and (max-width: 340px) {
  .navbar .content a {
    font-size: 1.0rem;
  }
  .navbar svg {
    font-size: 1.4rem;
  
  }
}

