.opinions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 65vh;
  background-color: #242a35; 
  color: #fff;
}

.title {
  font-style: italic;
  font-size: 1.4rem;
}

.autor {
  text-align: center;
  margin-top: 1.4rem;
}

.arrowRight {
  width: 20px;
  height: 32px;
  cursor: pointer;
  background-color: #d3d3d3;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.arrowLeft {
  width: 20px;
  height: 32px;
  cursor: pointer;
  background-color: #d3d3d3;
  clip-path: polygon(100% 100%, 100% 0, 0 50%);
}

@media screen and (max-width: 580px) {
  .opinions {
    height: 50vh;
  }
  .title {
    font-size: 1.2rem;
  }
  .autor {
    font-size: .8rem;
  }
  .arrowLeft, .arrowRight {
    width: 15px;
    height: 25px;
  }
}