@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

.backgroundOpacity {
  background-color: rgba(0, 0, 0 ,0.4);
  display: none;
}

.news {
  font-family: 'Darker Grotesque', sans-serif;
  width: 30vw;
  margin: 4rem auto;
  text-align: center;
  letter-spacing: .07rem;
}

.news h2 {
  font-style: italic;
  font-size: 2.3rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.news p {
  padding: 2rem 0;
  font-size: 1.1rem;
}

@media screen and (max-width: 900px){
  .news {
    margin: 3rem auto;
  }
  .news h2 {
    font-size: 1.9rem
  }
  .news p {
    font-size: .8rem;
    padding: 1.3rem 0;
  }
}

@media screen and (max-width: 680px){
  .news {
    margin: 2rem auto;
  }
  .news h2 {
    font-size: 1.5rem
  }
  .news p {
    font-size: .75rem;
    padding: 1rem 0;
  }
}


@media screen and (max-width: 650px) {
  .cardTea {
    width: 50%;
  }
}

@media screen and (max-width: 415px){
  .news h2 {
    font-size: 1.1rem
  }
  .news p {
    font-size: .7rem;
    padding: .8rem 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
.containerShop {
  margin: 0 auto;
    display: flex !important;
    grid-gap: 25px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .containerShop {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .containerShop {
    flex-direction: column;
    align-items: center;
  }
}
.shop {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.cardTea {
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    margin: 1.4rem;
}

@media screen and (max-width: 650px) {
    .cardTea {
        width: 50%;
    }
}
