* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.ma-classe-custom{
  width: 50%;
  display: flex;
  justify-content: space-between;
  /* background-color: navy; */
}


.input-range {
  padding: 10px;
  width: 50%;
  margin-left: 5rem;
  font-size: 1.5rem;
  touch-action: none;

  /* background-color: purple; */
}