* {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
=======
  box-sizing: border-box;
  overflow-x: hidden;
  color: #fff;
>>>>>>> feature/header
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
<<<<<<< HEAD
}

a:visited{
  color: #000;
=======
>>>>>>> feature/header
}