* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.input-range {
    padding: 10px;
    width: 100%;
    margin: 1rem 0;
    font-size: 1.5rem;
    touch-action: none;
}

.input-range__label-container:nth-child(2) {
    display: none;
}

.input-range__track--active {
    background: #242a35;
}

.backgroundOpacity {
    background-color: rgba(0, 0, 0, 0.6);
}

.fade {
    position: fixed;
    width: 25vw;
    height: 100vh;
    right: 0%;
    z-index: 9998;
    transition: all 0.7s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .fade {
        width: 35vw;
    }
}
@media screen and (max-width: 700px) {
    .fade {
        width: 45vw;
    }
}

@media screen and (max-width: 450px) {
    .fade {
        width: 100vw;
    }
   
}

.fade.out {
    right: -50%;
}
@media screen and (max-width: 450px) {
    .fade.out {
        right: -100vw;
    }
}
