.card {
    display: flex;
}

.card img {
    width: 35%;
    height: 50%;
    cursor: pointer;
}

.cardInfo {
    display: flex;
    flex-direction: column;
}

.cardContent {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
}

.cardContent p {
    padding-bottom: .4rem;
    font-size: 1.1rem;
}

.cardContent span {
   font-weight: bold; 
   font-size: 1.1rem;
}

.cardActions {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: .7rem;
}

svg {
    cursor: pointer;
}
.cardActions .buttons input {
    width: 32%;
    text-align: center;
    padding: .067rem 0;
 }
 .cardActions .buttons :focus {
    outline: 0;
  }

 input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
 input[type=number]
{
  -moz-appearance: textfield;
}

.cardActions .buttons button {
   margin: 0 .3rem;
   padding: .06rem .3rem;
   color: #000;
   border-color: rgb(57, 185, 57);
   cursor: pointer;
   border: 1px solid #000;
   outline: none;
}

.cardActions .buttons span {
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .cart {
      width: 40%;
    }
  }

 
    @media screen and (max-width: 520px) { 
    .remove {
        padding: .2rem;
        font-size: .7rem;
    }
    .cardActions .buttons {
        display: flex;
        justify-content: space-evenly;
    }
  }