@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.background {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(90%);
  z-index: -1;
}

.title {
  font-family: 'Parisienne', cursive;
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align:center;
  transform: translateX(-50%);
  color: #fff;
}
